body {
    background: rgb(36,0,26);
    background: linear-gradient(90deg, rgba(36,0,26,1) 0%, rgba(121,9,92,1) 35%, rgba(128,0,255,1) 100%);
    color: white;
  }

  h1 {
    text-align: center;
    margin-top: 20px;
  }

  .navbar-brand {
    font-weight: bold;
  }

  .carousel-item.active {
    filter: brightness(70%);
  }

  h2 {
    text-align:center;
    margin-top: 30px;
  }

  .carousel-item img {
    max-width: 100%;
    height: 600px; 
    object-fit: cover; 
  }

  img{
    height:300px;
    width:200px;
  }